.colores {
  width: 40px;
  height: 40px;
  border-radius: 160px;
  margin: 20px 32px;
}
.secundarios {
  display: flex;
  justify-content: center;
}
.main {
  text-align: center;
}
.primarios {
  display: flex;
  justify-content: center;
}
.verde {
  background-color: green;
}
.azul {
  background-color: blue;
}
.rojo {
  background-color: red;
}

.magenta {
  background-color: magenta;
}

.azulclaro {
  background-color: skyblue;
}

.amarillo {
  background-color: yellow;
}

p {
  margin: 32px 0px;
}

.rojo2{
    background-color: red;
    position: relative;
     
}
.verde2{
    background-color: green;
    position: relative;
    left: -20px;
}

.azul2{
    background-color: blue;
    position: relative;
    top: 45px; left: -160px;
}
.rgb{
    width: 100px;
    height: 100px;
    border-radius: 160px;
    mix-blend-mode: lighten;
    

}
.graph{
display: flex;
justify-content: center;
margin: 0 auto;
}